/* global styles */
@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;
  font-family: 'Roboto', sans-serif !important;
  
  text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;

  h1, h2, h3, h4 {
    font-weight: 300;
  }

}


// ------
// NAVIGATION CONTAINER
// ------

#both-nav {
	position: fixed;
	width: 100%;
	top: 0px;
	margin-top: 0;
	padding-top: 0;
	height: 120px;
	z-index: 100;
}

// ------
// TOP NAVIGATION
// ------

#both-nav #top-nav {
	background-color: #1d1d1d;
	border-radius: 0px; 
	margin-bottom: 0px;
	height: 60px;
	border: none;
}

#top-nav .container {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

#top-nav .container .navbar-collapse {
	padding: 0;
}

#both-nav #top-nav .brand-logo {
	width: 60px;
	height: 60px;
	font-size: 32px;
	font-weight: 900;
	color: #ffffff;
	margin-left: 0;
	padding-top: 18px;
	padding-left: 18px;
	border-right: 1px solid #000000;	
}

// Stages

#top-nav #top-nav-stages {

}

#both-nav #top-nav #top-nav-stages li {
	margin: 0;
	padding: 0;
	padding-left: 32px;
	padding-right: 32px;
	height: 60px;
}

#both-nav #top-nav ul#top-nav-stages li a {
	margin: 0;
	padding: 0;
	height: 100%;
}

#both-nav #top-nav ul#top-nav-stages li {
	border-right: 1px solid #000000;
}

#both-nav #top-nav ul#top-nav-stages li.current-stage a div span.ordinal_stage,
#both-nav #top-nav ul#top-nav-stages li.current-stage a div span.stage_title {
	color: #ffffff;
}

#both-nav #top-nav ul#top-nav-stages li.current-stage {
	background-color: #4A4A4A;
}

#both-nav #top-nav #top-nav-stages li a div span.ordinal_stage {
	display: block;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: normal;
	color: #ffffff;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

#both-nav #top-nav #top-nav-stages li a div span.stage_title {
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
	margin-top: -4px;
	padding: 0;	
}

// Right Nav

// My Requests

#both-nav #top-nav ul#top-nav-right-nav {
	height: 60px;
	float: right;
	margin-right: 0;
	font-size: 14px;	
	font-weight: 600;
	color: #ffffff;
}

#both-nav #top-nav ul#top-nav-right-nav .my-requests {
	height: 60px;
	padding: 0;
	margin: 0;
	padding-top: 5px;
	padding-left: 28px;
	padding-right: 28px;
	border-left: 1px solid #000000;			
}

#both-nav #top-nav ul#top-nav-right-nav .my-requests a {
	color: #ffffff;
}

// User Menu

#both-nav #top-nav ul#top-nav-right-nav .top-nav-user-menu {
	padding-top: 19px;
	padding-left: 28px;
	padding-right: 28px;
	height: 100%;
	border-left: 1px solid #000000;				
}

#both-nav #top-nav ul#top-nav-right-nav .top-nav-user-menu a {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;	
}

#both-nav #top-nav ul#top-nav-right-nav .top-nav-user-menu img {
	width: 24px;
	margin-right: 10px;
}

// Log out button
#both-nav #top-nav ul#top-nav-right-nav .top-nav-user-menu ul.dropdown-menu {
	width: 100%;
	background-color: #1d1d1d; 
	border-radius: 0;
	height: 60px;
	padding-top: 19px;	
	padding-left: 28px;
	padding-right: 28px;
	border: none;
}

// TODO: Fix hover styles for dropdown menu
#top-nav-right-nav > li.top-nav-user-menu.dropdown.open {
	background-color: #0f0f0f;
}

// ------
// SUB NAVIGATION
// ------

#both-nav #sub-nav {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	border-radius: 0;
	height: 60px;
	border: none;
	border-bottom: solid 1px #d8d8d8;
}

#both-nav #sub-nav .container {
	padding: 0 !important;
	margin: 0 !important;
	// TODO: Figure out what's the right container size 
	margin-left: 10% !important;
	margin-right: 10% !important;
}

#both-nav #sub-nav ul li {
	position: relative;
}

#both-nav #sub-nav ul li a {
	display: block;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	color: #1a1a1a;
	letter-spacing: -0.1px;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 20px;
}

#both-nav #sub-nav ul li a img {
	position: relative;
	top: -1px;
	margin-left: 10px;
	width: 4px;
}

#both-nav #sub-nav ul li a div.caret-right {
	position: relative;
	top: -1px;
	display: inline-block;
	width: 4px;
	height: 7px;
	background-size: cover;
	background-image: url('../../../images/caret-dark-right.png');
	margin-left: 10px;
}

#both-nav #sub-nav ul li:hover a {
	background-color: #0000ff;
	color: #ffffff;
}

#both-nav #sub-nav ul li:hover a div.caret-right {
	background-image: url('../../../images/caret-light-right.png');
}


// ------
// MAIN CONTENT PAGES
// ------

.page-view.container {
	position: relative;
	top: 120px;
	margin:0 !important;
	padding:0 !important;
	width: 100%;
	//margin-left: 10% !important;
	//margin-right: 10% !important;
	padding-left: 10% !important;
	padding-right: 10% !important;
	background-color: #F8F8F9;
	height: 100%;
}

.page-view .container {
	margin:0 !important;
	padding:0 !important;
	width: 100%;
}

// ------
// REQUESTS PAGE
// ------

.page-view #requests {
	background-color: #F8F8F9;
}

.page-view #requests h1 {
	font-family: Roboto;
	font-weight: 900;
	font-size: 36px;
	color: #1A1A1A;
	letter-spacing: -0.43px;
	text-align: left;
	line-height: 56px;
	margin-top: 56px;
	margin-bottom: 32px;
}

.page-view #requests .request-table {
	width: 100%;
	margin: 0 !important;	
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.14);
	font-weight: 400;
}

.page-view #requests .request-table .request-table .row {
	width: 100%;
	margin: 0 !important;	
}

.page-view #requests .request-table .request-table-header {
	background-color: #1d1d1d;
	color: #b3b3b3;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
	margin: 0 !important;
	font-size: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.page-view #requests .request-table .request_list_item .row {
	margin: 0 !important;
	padding: 0 !important;
}

.page-view #requests .request-table .request_list_item {
	font-size: 14px;	
	background-color: #ffffff;
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #D8D8D8;
}

.page-view #requests .request-table .request_list_item img.expand {
	position: relative;
	top: -1px;
	width: 24px;
}

.page-view #requests .request-table .request_list_item img.calendar {
	position: relative;
	top: -1px;
	width: 16px;
	margin-right: 4px;
}

.page-view #requests .request-table .request_list_item img.pin {
	position: relative;
	top: -1px;	
	width: 16px;
	margin-right: 4px;
}

.page-view #requests .request-table .request_list_item .status_tag img {
	height: 24px;
}

.page-view #requests .request-table .request_list_item .accommodation_name {
	font-size: 16px;
	font-weight: 600;
}

// ------
// MAIN CONTENT PAGES
// ------

.contact-recruiter {
	margin-top: 30px;
}

.contact-recruiter a {
	font-size: 16px;
	font-weight: 600;
	color: #0000ff;
}

.contact-recruiter a:hover,
.contact-recruiter a:focus,
.contact-recruiter a:active {
	color: #0000ff;
}

.contact-recruiter img {
	width: 18px;
	margin-right: 11px;
}


// ------
// ACCOMMODATIONS MODAL
// ------

#accommodations-modal .modal-dialog {
	width: 800px;
}

#accommodations-modal .modal-dialog .modal-content {
	background-color: #ffffff;
	border-radius: 0px;
}

#accommodations-modal .modal-dialog .modal-content .modal-body {
	padding: 0 !important;
	margin: 0 !important;
}

// Header

#accommodations-modal .modal-dialog .modal-content .modal-header {
	height: 60px;
	padding: 0;
	margin: 0;
}

#accommodations-modal .modal-dialog .modal-content .modal-header .container {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 60px;
}

#accommodations-modal .modal-dialog .modal-content .modal-header .container .row {
	margin: 0 !important;
	padding: 0 !important;
	height: 60px;
}


#accommodations-modal .modal-dialog .modal-content .modal-header img#a11y_icon {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 24px;
	height: 24px;
	margin-left: 8px;
	margin-right: 12px;
}

#accommodations-modal .modal-dialog .modal-content .modal-header h4 {
	display: inline-block;
	font-family: Roboto;
	font-weight: 600;
	font-size: 18px;
	color: #000000;
	margin: 0;
	margin-top: 22px;	
}

// Search

#accommodations-modal .modal-dialog .modal-content .modal-header #search {
	width: 100%;
	height: 60px;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search input {
	width: 100%;
	height: 100%;
	border: none;
	padding-left: 32px;
	padding-top: 8px;
	border-left: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search input,
#accommodations-modal .modal-dialog .modal-content .modal-header #search input::placeholder {
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #B3B3B3;
	font-weight: 400;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search input::placeholder {
	color: #B3B3B3;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search input {
	color: #000000;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search img {
	width: 22px;
	display: block;
	position: absolute;
	right: 0;
	margin: 0;
	margin-right: 24px;
	top: 22px;
}

// Close
#accommodations-modal .modal-dialog .modal-content .modal-header button.close {
	opacity: 1;
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	color: #808080;
	border-left: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
}

#accommodations-modal .modal-dialog .modal-content .modal-header button.close span {
	font-size: 36px;
	font-weight: 400;
	text-shadow: none;
}

// Category Tabs


#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav {
	height: 60px;
	background-color: #1D1D1D;
	border: none;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.37);	
	padding-left: 60px;
}

#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li {
	height: 60px;
	background-color: #1D1D1D;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 !important;
	margin: 0 !important;
	border: none;
	border-radius: 0;
}

#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li a {
	padding: 0 !important;
	margin: 0 !important;
	height: 60px;
	color: #B3B3B3;
	border: none;
	letter-spacing: -0.58px;
	margin-top: 18px !important;
	margin-left: 16px !important;
	margin-right: 16px !important;		
}

#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li.active a,
#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li:hover a,
#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li:focus a, {
	padding: 0 !important;
	margin: 0 !important;
	height: 60px;
	background-color: #1D1D1D;
	color: #ffffff;
	border-radius: 0;
	border: none;
	border-bottom: solid 5px #ffffff;
	margin-left: 16px !important;
	margin-right: 16px !important;	
	padding-top: 18px !important;	
}


