/* global styles */
@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;
  font-family: 'Roboto', sans-serif !important;
  
  text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;

  h1, h2, h3, h4 {
    font-weight: 300;
  }

}


// ------
// NAVIGATION CONTAINER
// ------

#both-nav {
	position: fixed;
	width: 100%;
	top: 0px;
	margin-top: 0;
	padding-top: 0;
	height: 120px;
	z-index: 100;
}

// ------
// TOP NAVIGATION
// ------

#both-nav #top-nav {
	background-color: #1d1d1d;
	border-radius: 0px; 
	margin-bottom: 0px;
	height: 60px;
	border: none;
}

#top-nav .container {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

#top-nav .container .navbar-collapse {
	padding: 0;
}

#both-nav #top-nav .brand-logo {
	width: 60px;
	height: 60px;
	font-size: 32px;
	font-weight: 900;
	color: #ffffff;
	margin-left: 0;
	padding-top: 18px;
	padding-left: 18px;
	border-right: 1px solid #000000;	
}

// Stages

#top-nav #top-nav-stages {

}

#both-nav #top-nav #top-nav-stages li {
	margin: 0;
	padding: 0;
	padding-left: 32px;
	padding-right: 32px;
	height: 60px;
}

#both-nav #top-nav ul#top-nav-stages li a {
	margin: 0;
	padding: 0;
	height: 100%;
}

#both-nav #top-nav ul#top-nav-stages li {
	border-right: 1px solid #000000;
}

#both-nav #top-nav ul#top-nav-stages li.current-stage a div span.ordinal_stage,
#both-nav #top-nav ul#top-nav-stages li.current-stage a div span.stage_title {
	color: #ffffff;
}

#both-nav #top-nav ul#top-nav-stages li.current-stage {
	background-color: #4A4A4A;
}

#both-nav #top-nav #top-nav-stages li a div span.ordinal_stage {
	display: block;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: normal;
	color: #ffffff;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

#both-nav #top-nav #top-nav-stages li a div span.stage_title {
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
	margin-top: -4px;
	padding: 0;	
}

// Right Nav

// My Requests

#both-nav #top-nav ul#top-nav-right-nav {
	height: 60px;
	float: right;
	margin-right: 0;
	font-size: 14px;	
	font-weight: 600;
	color: #ffffff;
}

#both-nav #top-nav ul#top-nav-right-nav .my-requests {
	height: 60px;
	padding: 0;
	margin: 0;
	padding-top: 5px;
	padding-left: 28px;
	padding-right: 28px;
	border-left: 1px solid #000000;			
}

#both-nav #top-nav ul#top-nav-right-nav .my-requests a {
	color: #ffffff;
}

// User Menu

#both-nav #top-nav ul#top-nav-right-nav .top-nav-user-menu {
	padding-top: 19px;
	padding-left: 28px;
	padding-right: 28px;
	height: 100%;
	border-left: 1px solid #000000;				
}

#both-nav #top-nav ul#top-nav-right-nav .top-nav-user-menu a {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;	
}

#both-nav #top-nav ul#top-nav-right-nav .top-nav-user-menu img {
	width: 24px;
	margin-right: 10px;
}

// Log out button
#both-nav #top-nav ul#top-nav-right-nav .top-nav-user-menu ul.dropdown-menu {
	width: 100%;
	background-color: #1d1d1d; 
	border-radius: 0;
	height: 60px;
	padding-top: 19px;	
	padding-left: 28px;
	padding-right: 28px;
	border: none;
}

// TODO: Fix hover styles for dropdown menu
#top-nav-right-nav > li.top-nav-user-menu.dropdown.open {
	background-color: #0f0f0f;
}

// ------
// SUB NAVIGATION
// ------

#both-nav #sub-nav {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	border-radius: 0;
	height: 60px;
	border: none;
	border-bottom: solid 1px #d8d8d8;
}

#both-nav #sub-nav .container {
	padding: 0 !important;
	margin: 0 !important;
	// TODO: Figure out what's the right container size 
	margin-left: 10% !important;
	margin-right: 10% !important;
}

#both-nav #sub-nav ul li {
	position: relative;
}

#both-nav #sub-nav ul li a {
	display: block;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	color: #1a1a1a;
	letter-spacing: -0.1px;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 20px;
}

#both-nav #sub-nav ul li a img {
	position: relative;
	top: -1px;
	margin-left: 10px;
	width: 4px;
}

#both-nav #sub-nav ul li a div.caret-right {
	position: relative;
	top: -1px;
	display: inline-block;
	width: 4px;
	height: 7px;
	background-size: cover;
	background-image: url('../../../images/caret-dark-right.png');
	margin-left: 10px;
}

#both-nav #sub-nav ul li:hover a {
	background-color: #0000ff;
	color: #ffffff;
}

#both-nav #sub-nav ul li:hover a div.caret-right {
	background-image: url('../../../images/caret-light-right.png');
}


// ------
// MAIN CONTENT PAGES
// ------

.page-view.container {
	position: relative;
	top: 120px;
	margin:0 !important;
	padding:0 !important;
	width: 100%;
	//margin-left: 10% !important;
	//margin-right: 10% !important;
	padding-left: 10% !important;
	padding-right: 10% !important;
	// TODO: Resolve issue where back backgrounds are
	// two different colors
	// background-color: #F8F8F9;
	height: 100%;
}

.page-view .container {
	margin:0 !important;
	padding:0 !important;
	width: 100%;
}

// ------
// BUTTON STYLES
// ------



button,
button.btn,
button.btn-default,
button.short-button,
button.cta,
.container button,
{
	color: #ffffff;
	font-size: 16px;
	background-color: #1A1A1A;
	border: none;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 16px;
	padding-bottom: 16px;	
	border-radius: 0 !important;
}

button:hover,
button.btn:hover,
button.short-button:hover,
button:focus,
button.btn:focus,
button.short-button:focus, {
	color: #ffffff;
	background-color: #4C4C4C;
}

button:active,
button.btn:active,
button.short-button:active,
button:active:focus,
button.btn:active:focus,
button.short-button:active:focus,
 {
	color: #ffffff;
	background-color: #000000;
}

button.short-button {
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 10px;
	padding-bottom: 10px;	
	border-radius: 6px !important;
}

button.cta {
	background-color: #0000ff;
}

button.cta:hover,
button.cta:focus {
	background-color: #6666FF;
}

button.cta:active {
	background-color: #0000AF;
}

// ------
// REQUESTS PAGE
// ------

.page-view #requests {
	background-color: #F8F8F9;
}

.page-view #requests h1 {
	font-family: Roboto;
	font-weight: 900;
	font-size: 36px;
	color: #1A1A1A;
	letter-spacing: -0.43px;
	text-align: left;
	line-height: 56px;
	margin-top: 56px;
	margin-bottom: 32px;
}

.page-view #requests .request-table {
	width: 100%;
	margin: 0 !important;	
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.14);
	font-weight: 400;
}

.page-view #requests .request-table .request-table .row {
	width: 100%;
	margin: 0 !important;	
}

.page-view #requests .request-table .request-table-header {
	background-color: #1d1d1d;
	color: #b3b3b3;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
	margin: 0 !important;
	font-size: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.page-view #requests .request-table .request_list_item .row {
	margin: 0 !important;
	padding: 0 !important;
}

.page-view #requests .request-table .request_list_item {
	font-size: 14px;	
	background-color: #ffffff;
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #D8D8D8;
}

.page-view #requests .request-table .request_list_item img.expand {
	position: relative;
	top: -1px;
	width: 24px;
}

.page-view #requests .request-table .request_list_item img.calendar {
	position: relative;
	top: -1px;
	width: 16px;
	margin-right: 4px;
}

.page-view #requests .request-table .request_list_item img.pin {
	position: relative;
	top: -1px;	
	width: 16px;
	margin-right: 4px;
}

.page-view #requests .request-table .request_list_item .status_tag img {
	height: 24px;
}

.page-view #requests .request-table .request_list_item .accommodation_name {
	font-size: 16px;
	font-weight: 600;
}

// ------
// MAIN CONTENT PAGES
// ------

.contact-recruiter {
	margin-top: 30px;
}

.contact-recruiter a {
	font-size: 16px;
	font-weight: 600;
	color: #0000ff;
}

.contact-recruiter a:hover,
.contact-recruiter a:focus,
.contact-recruiter a:active {
	color: #0000ff;
}

.contact-recruiter img {
	width: 18px;
	margin-right: 11px;
}


// ------
// ACCOMMODATIONS MODAL
// ------

#accommodations-modal .modal-dialog {
	width: 800px;
}

#accommodations-modal .modal-dialog .modal-content {
	background-color: #ffffff;
	border-radius: 0px;
}

#accommodations-modal .modal-dialog .modal-content .modal-body {
	padding: 0 !important;
	margin: 0 !important;
}

// Header

#accommodations-modal .modal-dialog .modal-content .modal-header {
	height: 60px;
	padding: 0;
	margin: 0;
}

#accommodations-modal .modal-dialog .modal-content .modal-header .container {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 60px;
}

#accommodations-modal .modal-dialog .modal-content .modal-header .container .row {
	margin: 0 !important;
	padding: 0 !important;
	height: 60px;
}


#accommodations-modal .modal-dialog .modal-content .modal-header img#a11y_icon {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 24px;
	height: 24px;
	margin-left: 8px;
	margin-right: 12px;
}

#accommodations-modal .modal-dialog .modal-content .modal-header h4 {
	display: inline-block;
	font-family: Roboto;
	font-weight: 600;
	font-size: 18px;
	color: #000000;
	margin: 0;
	margin-top: 22px;	
}

// Search

#accommodations-modal .modal-dialog .modal-content .modal-header #search {
	width: 100%;
	height: 60px;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search input {
	width: 100%;
	height: 100%;
	border: none;
	padding-left: 32px;
	padding-top: 8px;
	border-left: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search input,
#accommodations-modal .modal-dialog .modal-content .modal-header #search input::placeholder {
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #B3B3B3;
	font-weight: 400;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search input::placeholder {
	color: #B3B3B3;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search input {
	color: #000000;
}

#accommodations-modal .modal-dialog .modal-content .modal-header #search img {
	width: 22px;
	display: block;
	position: absolute;
	right: 0;
	margin: 0;
	margin-right: 24px;
	top: 22px;
}

// Close
#accommodations-modal .modal-dialog .modal-content .modal-header button.close {
	opacity: 1;
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	color: #808080;
	border-left: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	border-radius: 0 !important;
}

#accommodations-modal .modal-dialog .modal-content .modal-header button.close:hover {
	opacity: 1;
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	color: #1D1D1D;
	border-left: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
}

#accommodations-modal .modal-dialog .modal-content .modal-header button.close:active {
	background-color: #f7f7f7;
}

#accommodations-modal .modal-dialog .modal-content .modal-header button.close span {
	font-size: 36px;
	font-weight: 400;
	text-shadow: none;
}

// Category Tabs

#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav {
	height: 60px;
	background-color: #1D1D1D;
	border: none;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.37);	
	padding-left: 60px;
}

#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li {
	height: 60px;
	background-color: #1D1D1D;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 !important;
	margin: 0 !important;
	border: none;
	border-radius: 0;
}

#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li a {
	padding: 0 !important;
	margin: 0 !important;
	height: 60px;
	color: #B3B3B3;
	border: none;
	margin-top: 18px !important;
	margin-left: 16px !important;
	margin-right: 16px !important;		
}

#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li.active a,
#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li:hover a,
#accommodations-modal .modal-dialog .modal-content .modal-body ul.nav-tabs li:focus a, {
	padding: 0 !important;
	margin: 0 !important;
	height: 60px;
	background-color: #1D1D1D;
	color: #ffffff;
	border-radius: 0;
	border: none;
	border-bottom: solid 5px #ffffff;
	margin-left: 16px !important;
	margin-right: 16px !important;	
	padding-top: 18px !important;	
}

// Accommodations list
#accommodations-modal .modal-dialog .modal-content #modal-body-main {
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main #accommodations-list {
	background-color: #F6F6F6;
	padding-bottom: 42px;
}


// Outer container for each item

#accommodations-modal .modal-dialog .modal-content #modal-body-main .accommodation-item:first-of-type {
	margin-top: 30px !important;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .accommodation-item {
	width: 680px;
	margin: 0 !important;
	padding: 0 !important;
	margin: 0 auto !important;
	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.14);
	margin-bottom: 14px !important;
	padding-left: 32px !important;
	padding-right: 40px !important;
	padding-top: 12px !important;
	padding-bottom: 10px !important;	
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main h4 {
	display: inline-block;
	font-family: Roboto;
	font-weight: 600;
	font-size: 18px;
	color: #000000;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .common-req {
	display: inline-block;
	position: relative;
	top: -2px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px !important;
	padding-right: 10px !important;	
	font-family: Roboto-Bold;
	color: #206D53;
	background-color: #9CF4DC;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 50px;
	margin-left: 12px;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main p {
	font-weight: 400;
	font-size: 14px;
	color: #000000;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main img.common-req {
	height: 24px;
	width: 24px;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main button.short-button {
	position: relative;
	float: right;
	top: 12px;
}

#accommodations-modal .modal-dialog .modal-content #custom-accommodation.container {
	background-color: #F6F6F6;
	box-shadow: none;
	border: 2px dashed #CCCCCC;
	padding-top: 42px !important;
	padding-bottom: 38px !important;

	transition: background-color 100ms linear;
	-webkit-transition: background-color 100ms linear;

}

#accommodations-modal .modal-dialog .modal-content #custom-accommodation.container:hover {
	background-color: #E9E8E8 !important;
	cursor: pointer;

	transition: background-color 100ms linear;
	-webkit-transition: background-color 100ms linear;

}

#accommodations-modal .modal-dialog .modal-content #custom-accommodation span {
	display: inline-block;	
	font-weight: 600;
	font-size: 18px;
	color: #999999;
}

#accommodations-modal .modal-dialog .modal-content #custom-accommodation img.plus {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 15px;
	margin-right: 16px;
}


// Confirmation page
#accommodations-modal .modal-dialog .modal-content .confirm-page-content.container {
	background-color: #ffffff;
	width: 100%;
	padding-left: 116px;
	padding-right: 116px;
	padding-top: 48px;

	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;	
}

#accommodations-modal .modal-dialog .modal-content .confirm-page-content h3.confirmation_heading {
	display: inline-block;
	position: relative;
	background-color: #F2F2F2;
	font-family: Roboto;
	font-weight: 600;
	font-size: 16px;
	color: #000000;	
	text-transform: uppercase;
	height: 33px;
	margin-bottom: 16px;
}

#accommodations-modal .modal-dialog .modal-content .confirm-page-content h3.confirmation_heading span {
	display: inline-block;
	text-align: center;
	padding-top: 8px;
	padding-left: 12px;
	padding-right: 12px;
}

#accommodations-modal .modal-dialog .modal-content .confirm-page-content h3.confirmation_heading span.num {
	background-color: #000000;
	height: 33px;
	color: #ffffff;
}

#accommodations-modal .modal-dialog .modal-content .confirm-page-content h4 {
	font-weight: 600;
	font-size: 18px;
	color: #000000;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .confirm-page-content p {
	margin-bottom: 4px;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .confirm-page-content p.modal_text_emphasized {
	font-size: 18px;
	font-weight: 600;
	color: #1A1A1A;
	margin-bottom: 16px;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .confirm-page-content textarea {
	display: block;
	margin-top: 12px !important;
	width: 100%;
	resize: none;
	margin-bottom: 36px;
	padding-left: 19px;
	padding-right: 19px;
	padding-top: 12px;
	padding-bottom: 12px;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .confirm-page-content textarea::placeholder {
	color: #999999;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .confirm-page-content button {
	width: 100%;
	margin-bottom: 42px;
}

// Success page

#accommodations-modal .modal-dialog .modal-content #modal-body-main .request-success.container {
	width: 100%;

	background-color: #ffffff;
	width: 100%;
	padding-left: 116px;
	padding-right: 116px;
	padding-top: 48px;

	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #000000;	

	padding-bottom: 42px;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .request-success {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .request-success img {
	width: 81px;
	margin-bottom: 24px;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .request-success h3 {
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 24px;	
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .request-success p {
	font-size: 18px;	
	margin-bottom: 56px;
}

#accommodations-modal .modal-dialog .modal-content #modal-body-main .request-success button {
	width: 100%;
}


// ------
// TEXT CONTENT
// ------

#text-content {
	background-color: #ffffff;
}


#text-content .container {
	padding: 0 !important;
	margin: 0 !important;
	margin: 0 !important;
}

#text-content section {
	padding-top: 56px;
}

#text-content h1 {
	font-family: Roboto;
	font-weight: 900;
	font-size: 42px;
	color: #1A1A1A;
	letter-spacing: -0.43px;	
	margin-bottom: 20px;
}

#text-content span.date img,
#text-content span.time img,
#text-content span.location img 
{
	width: 24px;
	margin-right: 4px;
}

#text-content span.date,
#text-content span.time,
#text-content span.location {
	display: block;
	font-weight: 400;
	font-size: 16px;
	color: #4A4A4A;
	margin-bottom: 10px;
}

#text-content .info_box {
	background-color: #F7F7F7;
	border-left: solid 8px #333333;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 24px;
}

#text-content .info_box h3.info_box_title {
	font-weight: 600;
	font-size: 20px;
	color: #000000;
	margin-top: 0;
}

#text-content h2.subsection_title {
	font-weight: 600;
	font-size: 24px;
	color: #1A1A1A;
}

#text-content .info_box p.info_box_text {
	font-weight: 400;
	font-size: 16px;
	color: #4D4D4D;
	line-height: 22px;
}

#text-content .info_box span.info_box_time {
	display: block;
	font-weight: 400;
	font-size: 14px;
	color: #333333;
	margin-bottom: 4px;
}


#text-content .info_box span.info_box_time img {
	position: relative;
	top: -1px;
	width: 14px;
}

#text-content .schedule .info_box h3.info_box_title {
	margin-bottom: 4px;
}

// Related Accessibility Accommodations

#text-content .accessibility_link img {
	width: 16px;
	margin-right: 8px;
}

#text-content .accessibility_link img.expand {
	position: relative;
	top: -1px;
	width: 12px;
	margin-left: 12px;
}

#text-content .accessibility_link {
	display: block;
	font-size: 14;
	color: #0000FF;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 18px;
}

// Inline Accommodation Item

#text-content .accommodation-item {
	position: relative;
	background-color: #ffffff;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.19);
	margin-top: 14px;
}

#text-content .accommodation-item {
	padding-top: 24px;
	padding-left: 32px;
	padding-bottom: 16px;
	padding-right: 32px;
}

#text-content .accommodation-item .accommodation-item-details {
	border-bottom: 1px solid #EFEFEF;
}

#text-content .accommodation-item h4 {
	font-weight: 600;
	font-size: 16px;
	color: #000000;
	margin-bottom: 6px;
	margin-top: 0;
	max-width: 60%;
}

#text-content .accommodation-item p {
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0;
	max-width: 60%;	
}

#text-content .accommodation-item button.short-button {
	position: absolute;
	top: 32px;
	right: 32px;
	width: 100px;
	height: 36px;
	padding: 0;
	text-align: center;
}

#text-content .accommodation-item .accommodation_list_link img {
	width: 18px;
	margin-right: 8px;
	position: relative;
	top: -1px;
}

#text-content .accommodation-item .accommodation_list_link {
	display: block;
	color: #0000ff;
	font-weight: 600;
	font-size: 16px;
	margin-top: 10px;
}


#text-content .overview_details,
#text-content .arrival_details {
	margin-bottom: 56px;
}

#text-content .breadcrumbs {
	font-weight: 400;
	font-size: 16px;
	color: #4A4A4A;
}

// ------
// PLACEHOLDER - TO DELETE
// ------

div.substage-detail {
	display: none;
}

div.main-content {
	display: none;
}




